/* ELEMENT SELECTORS */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

input[type='date'] {
	color: #000000;
}

/* ID SELECTORS */

#background {
	background-color: #584153;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	display: table;
	height: 100%;
	width: 100%;
}

#loginForm,
#registerForm {
	display: none;
}

#rightText {
    padding: 45px;
    display: table-cell;
    padding-left: 100px;
}

#rightText h1 {
	color: #f7f7f7;
	font-size: 55px;
	font-weight: bold;
	line-height: 60px;
}

#rightText h2 {
	color: #ffdcb4;
	font-size: 25px;
	font-weight: bold;
	margin: 35px 0;
}

#rightText ul {
	padding: 0;
}

#rightText li {
	color: #f7f7f7;
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
	font-weight: 500;
	list-style-type: none;
	line-height: 35px;
	padding: 5px 50px;
	background: url(../images/icons/checkmark_white.png);
	background-size: 40px;
	background-repeat: no-repeat;
}

#loginContainer * {
	color: #ffffff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 3rem;
	box-sizing: border-box;
}

#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

#inputContainer h2 {
	font-family: 'Lobster', cursive;
	text-align: center;
}

#inputContainer button {
	color: #000000;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	border-radius: 250px;
	display: block;
	letter-spacing: 1px;
	margin: 20px auto;
	width: 100%;
}

#inputContainer ::placeholder {
	font-weight: bold;
	color: #aaaaaa;
}

#inputContainer label {
	font-weight: bold;
	color: #aaaaaa;
}

#inputContainer input[type='radio'] {
	width: 8%;
}

#inputContainer input[type='text']:hover,
input[type='password']:hover,
input[type='email']:hover,
input[type='date']:hover {
	background-color: #584153;
}

#inputContainer input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'] {
	color: #ffffff;
	display: block;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #ffffff;
	height: 30px;
	line-height: 27px;
	width: 100%;
}

#inputContainer {
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999999;
}

#hideLogin,
#hideRegister {
    font-weight: bold;
    font-size: 12px
}

/* CLASS SELECTORS */

.input-edit {
	border-radius: 15px;
}

.hasAccountText {
	text-align: center;
	cursor: pointer;
}

#inputContainer .errorMessage {
	color: #ff0000;
	font-size: 13px;
	display: block;
}

.button.two {
	background-repeat: no-repeat;
	background-position: -120px -120px, 0 0;
	background-image: -webkit-linear-gradient(
    	top left,
    	rgba(255, 255, 255, 0.2) 0%,
    	rgba(255, 255, 255, 0.2) 37%,
    	rgba(255, 255, 255, 0.8) 45%,
    	rgba(255, 255, 255, 0.0) 50%
  	);
  	background-image: -moz-linear-gradient(
    	0 0,
    	rgba(255, 255, 255, 0.2) 0%,
    	rgba(255, 255, 255, 0.2) 37%,
    	rgba(255, 255, 255, 0.8) 45%,
    	rgba(255, 255, 255, 0.0) 50%
  	);    
  	background-image: -o-linear-gradient(
	    0 0,
	    rgba(255, 255, 255, 0.2) 0%,
	    rgba(255, 255, 255, 0.2) 37%,
	    rgba(255, 255, 255, 0.8) 45%,
	    rgba(255, 255, 255, 0.0) 50%
	);
  	background-image: linear-gradient(
    	0 0,
    	rgba(255, 255, 255, 0.2) 0%,
    	rgba(255, 255, 255, 0.2) 37%,
    	rgba(255, 255, 255, 0.8) 45%,
    	rgba(255, 255, 255, 0.0) 50%
  	);
  
  	-moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;
  
  	-webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;       
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
}

.button.two:hover {
	background-position: 0 0, 0 0;
  	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.icons8 {
	right: 5px;
	bottom: 5px;
	position: absolute;
	font-size: 10px;
	padding: 3px;
}