/*	ID SELECTORS */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}

/* ID SELECTORS */

#nowPlayingBarContainer {
    background-color: #ad6989;
    width: 100%;
    display: block;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
	display: flex;
	height: 100px;
	padding: 16px;
	box-sizing: border-box;
}

#nowPlayingLeft, 
#nowPlayingRight {
	width: 30%;
	min-width: 180px;
}

#nowPlayingRight {
	position: relative;
	margin-top: 16px;
}

#nowPlayingCenter {
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center; 
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer {
	background-color: #562349;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

/* CLASS SELECTORS */

#nowPlayingBar .content {
	width: 100%;
}

#nowPlayingLeft .albumArtwork {
	height: 100%;
	max-width: 57px;
	max-height: 57px;
	margin-right: 15px;
	float: left;
}

#nowPlayingBar .content {
	width: 100%;
	height: 57px;
}

.playerControls .buttons {
	margin: 0 auto;
	display: table;
}

.controlButton {
	background-color: transparent;
	border: none;
	vertical-align: middle;
}

.controlButton img {
	width: 25px;
	height: 25px;
}

.controlButton {
	outline: none;
}

.controlButton.play img,
.controlButton.pause img {
	width: 35px;
	height: 35px;
}

.controlButton:hover {
	cursor: pointer;
}

.progressTime {
	color: #ffffff;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}

.progressBar {
	width: 100%;
	height: 12px;
	display: inline-flex;
	cursor: pointer;
}

.playbackBar {
	display: flex;
}

.progressBarBg {
	background-color: #ffffff;
	height: 4px;
	width: 100%;
	border-radius: 5px;
}

.progress {
	background-color: #000000;
	height: 4px;
	width: 0;
	border-radius: 5px;
}

.playbackBar .progressBar {
	margin-top: 4px;
}

#nowPlayingLeft .trackInfo {
	display: table;
}

#nowPlayingLeft .trackInfo .trackName {
	margin: 6px 0;
	display: inline-block;
	width: 100%;
}

#nowPlayingLeft .trackInfo .artistName {
	font-size: 12px;
}

.volumeBar {
	width: 180px;
	position: absolute;
	right: 0;
}

.volumeBar .progressBar {
	width: 125px;
}

.navBar {
	padding: 25px;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
}

.logo img {
	width: 50px;
	height: 50px;
}